<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSRF 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body style="height:745px">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
      <a href="#" class="navbar-brand mb-0 h1">
        <img class="d-inline m-2 align-top" src="https://aula.campusciberseguridad.com/pluginfile.php?file=%2F1%2Ftheme_moove%2Flogo%2F1671714533%2Fciberseguridad%20vertical%20bicolor%281%29.png" width="30" height="30">
      </a>
      <button type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacion" class="navbar-toggler m-2" aria-controls="barraNavegacion" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="barraNavegacion">
        <ul class="navbar-nav">
          <li class="nav-item active m-2">
            <a href="/" class="nav-link active">
              Home
            </a>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fugas de Información
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/fugas1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/fugas2" class="dropdown-item">Prueba 2</a></li>
                <li><a href="/fugas3" class="dropdown-item">Prueba 3</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SQLi
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/SQLi1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/SQLi2" class="dropdown-item">Prueba 2</a></li>
                <li><a href="/SQLi3" class="dropdown-item">Prueba 3</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              XSS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/XSS1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/XSS2" class="dropdown-item">Prueba 2</a></li>
                <li><a href="/XSS3" class="dropdown-item">Prueba 3</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CSRF
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/CSRF1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/CSRF2" class="dropdown-item">Prueba 2</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container overflow-hidden" style="height:670px;">
      <div class="float-child" id="divEjercicio">
        <button id="btnPistas" type="button" class="btn btn-dark text-center m-2" data-bs-toggle="modal" data-bs-target="#modalPistas">
          Pistas
        </button>
        <p class="text-center m-2" style="font-size: 20px ; font-weight: bold">
          <b>Ejercicio</b>
        </p>
        <p class="text-center m-2">
          "En este ejercicio, tu mision es cambiar la contraseña del usuario admin por medio de un ataque CSRF. La única información que tendrás para empezar, es el usuario guest y su contraseña, el usuario admin y contraseña, y conocimiento del hecho que admin no tiene acceso al formulario de cambio de contraseña al iniciar sesión."
        </p>
        {% for session in get_flashed_messages(category_filter=["session"])%}
        <p class="text-center m-2">
          <b>Sesion Activa: {{session}}</b>
        </p>
        {% endfor %}
        {% for password in get_flashed_messages(category_filter=["password"])%}
        <p class="text-center m-2 text-danger" >
          <b>La contraseña de su usuario {% for user in get_flashed_messages(category_filter=["user"])%}{{user}}{% endfor %} cambio a {{password}}</b>
        </p>
        {% endfor %}
        {% for display in get_flashed_messages(category_filter=["display"])%}
          {% if display == "login" %}
            <p class="text-center m-2" style="font-size: 12px;">
              <i>El usuario <b>guest</b> tiene contraseña: <b>{% for guestpwd in get_flashed_messages(category_filter=["guestpwd"])%}{{guestpwd}}{% endfor %}</b></i>
            </p>
            <p class="text-center m-2" style="font-size: 12px;">
              <i>El usuario <b>admin</b> tiene contraseña: <b>{% for adminpwd in get_flashed_messages(category_filter=["adminpwd"])%}{{adminpwd}}{% endfor %}</b></i>
            </p>
            <div>
            <form id="fLogin" action="CSRF1" class="text-center p-2" method="post" style="position: relative; top: 15%">
              <label for="iUsuario" class="form-label"><b>Nombre de Usuario</b></label>
              <input type="text" class="form-control me-2 text-center" id="iUsuario" name="iUsuario" placeholder="Ingresa tu usuario..." required>
              <br>
              <label for="iContrasena" class="form-label"><b>Contraseña</b></label>
              <input type="text" class="form-control me-2 text-center" id="iContrasena" name="iContrasena" placeholder="Ingresa tu contraseña..." required>
              <br>
              <button type="submit" class="btn btn-dark">Iniciar Sesion</button>
            </form>
          </div>

          {% elif display == "change" %}
          <div>
            <form id="fCambio" action="CSRF1" class="text-center p-2" method="post" style="position: relative; top: 15%">
              <label for="iCambio" class="form-label"><b>Nueva contraseña</b></label>
              <input type="text" class="form-control me-2 text-center" id="iCambio" name="iCambio" placeholder="Ingresa la nueva contraseña..." required>
              <br>
              <button type="submit" class="btn btn-dark">Cambiar contraseña</button>
            </form>
            <form id="fLogout" action="CSRF1" class="text-center p-2" method="post" style="position: relative; top: 15%">
              <input type="text" class="form-control me-2 text-center" id="iLogout" name="iLogout" value="logout" hidden>
              <button type="submit" class="btn btn-danger">Cerrar sesion</button>
            </form>
          </div>
          {% else %}
            <div>
              <form id="fLogout" action="CSRF1" class="text-center p-2" method="post" style="position: relative; top: 15%">
                <input type="text" class="form-control me-2 text-center" id="iLogout" name="iLogout" value="logout" hidden>
                <button type="submit" class="btn btn-danger">Cerrar sesion</button>
              </form>
            </div>
            {% for clave in get_flashed_messages(category_filter=["clave"])%}
          
              <p class="text-center m-2 text-success" >
                <b>{{clave}}</b>
              </p>
            {% endfor %}
          {% endif %}

        {% endfor %}

        <!-- Modal de las Pistas -->
        <div class="modal fade" id="modalPistas" tabindex="-1" role="dialog" aria-labelledby="modalPistasLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalPistasLabel">Pistas</h5>
              </div>
              <div class="modal-body">
                <p class="text-center m-2">
                  Resalta con tu cursor la fila de la pista que deseas ver, las pistas estan ordenadas por impacto de menor a mayor (arriba a abajo correspondientemente) para obtener la respuesta. Cuidado a los que desean usar la menor cantidad de pistas posibles que estas tambien estan disponibles sin ocultar dentro del Modal en el codigo fuente de la pagina.
                </p>
                <p class="text-center m-2 bg-dark">
                  Pista 1: El usuario guest si puede cambiar su contraseña, enfatizar este punto es importante.
                </p>
                <p class="text-center m-2 bg-dark">
                  Pista 2: Al cambiar la contraseña de guest, la URL parece cambiar apreciablemente...
                </p>
                <p class="text-center m-2 bg-dark">
                  Pista 3: Talvez estando dentro de admin...
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-block float-child overflow-hidden" id="divRespuesta">
        <form id="fRespuesta" action="CSRF1" class="text-center p-2" method="post" style="position: relative; top: 15%">
          <label for="iRespuesta" class="form-label"><b>Respuesta</b></label>
          <input type="text" class="form-control me-2 text-center" id="iRespuesta" name="iRespuesta" placeholder="Ingresa la clave...">
          <label class="control-label text-danger" for="iRespuesta">{% for error in get_flashed_messages(category_filter=["error"])%}{{error}}{% endfor %}</label>
          <br><br>
          <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
        <p class="text-center" style="margin: 20px; position: relative; top:10%">{% for ayuda in get_flashed_messages(category_filter=["ayuda"])%}{{ayuda}}{% endfor %}<p>

      </div>
      <div class="float-child overflow-hidden" id="divRecompensa">
        <p class="text-center m-2">
          <b>Recompensa</b>
        </p>
        <p class="text-center">
          <img class="d-inline m-4 align-top" src="{{ url_for('static', filename=chest) }}" width="50%" height="50%">
        </p>
        {% for recompensa in get_flashed_messages(category_filter=["recompensa"])%}
        <p class="text-center text-success" style="margin: 10px">
          <b>{{recompensa}}</b>
          <!-- Modal del Contexto -->
          <div class="modal fade" id="modalContexto" tabindex="-1" role="dialog" aria-labelledby="modalContextoLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalContextoLabel">Detalle del Contexto</h5>
                </div>
                <div class="modal-body">
                  <p class="text-center m-2">
                    Las vulnerabilidades a CSRF estan comunmente afiliadas con formularios de sesión, y requieren tres elementos particulares para poder manifestarse: debe haber una acción relevante que sea utilizable en ciertas condiciones (o por ciertos usuarios) que un atacante pueda tener una razón de provocar; el manejo de sesiones debe hacerse por medio de cookies únicamente; todos los parámetros de petición son predecibles (<a href="https://portswigger.net/web-security/csrf">más información</a>).
                  </p>
                  <p class="text-center m-2">
                    En este ejercicio, la accion relevante es un cambio de contraseña por medio de un formulario, que no es visible por medio del usuario admin, pero se realiza por medio de parametros en la URL; el manejo de sesiones se realiza con cookies para la sesión; los parametros de la petición no requieren la contraseña previa, y recuperan el usuario de la sesión al momento de hacer el cambio, al fin, ningun parametro de la url es impredecible.
                  </p>
                  <p class="text-center m-2">
                    Como probablemente habrán realizado, al traer el URL despues de realizar un cambio en guest, iniciando sesión luego como admin, e ingresando la url en el navegador mientras está iniciada la sesión de admin, cambia la contraseña de admin y hace visible la clave de la respuesta en el usuario administrador.
                  </p>
                  <p class="text-center m-2">
                    Para evitar esta vulnerabilidad se puede manejar elementos como un CSRF Token, cuyo proposito es introducir un parámetro de petición impredecible a cada sesión iniciada o incluso cada página individual visitada, de manera aleatoria o diseñar la página para manejar las sesiones de manera no exclusiva por medio del uso de cookies, sino tener habilitado un elemento hibrido que oculte información de sesión.
                    Como toda otra vulnerabilidad claro, tambien esta la opción dentro de la posibilidad, de no incluir acciones que serían vectores de ataque con valor, pero este depende fuertemente de la aplicación que se está desarrollando.
                  </p>
                  <p class="text-center m-2 text-success">
                    <b>Suerte en los demas ejercicios, y no olvides anotar tu pieza :)</b>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </p>
        <div style="display:flex; justify-content: center;">
          <button id="btnContexto" type="button" class="btn btn-success text-center m-2" data-bs-toggle="modal" data-bs-target="#modalContexto">
            Detalle
          </button>
        </div>
          {% endfor %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>