<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XSS 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body style="height:745px">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
      <a href="#" class="navbar-brand mb-0 h1">
        <img class="d-inline m-2 align-top" src="https://aula.campusciberseguridad.com/pluginfile.php?file=%2F1%2Ftheme_moove%2Flogo%2F1671714533%2Fciberseguridad%20vertical%20bicolor%281%29.png" width="30" height="30">
      </a>
      <button type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacion" class="navbar-toggler m-2" aria-controls="barraNavegacion" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="barraNavegacion">
        <ul class="navbar-nav">
          <li class="nav-item active m-2">
            <a href="/" class="nav-link active">
              Home
            </a>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fugas de Información
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/fugas1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/fugas2" class="dropdown-item">Prueba 2</a></li>
                <li><a href="/fugas3" class="dropdown-item">Prueba 3</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SQLi
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/SQLi1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/SQLi2" class="dropdown-item">Prueba 2</a></li>
                <li><a href="/SQLi3" class="dropdown-item">Prueba 3</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              XSS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/XSS1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/XSS2" class="dropdown-item">Prueba 2</a></li>
                <li><a href="/XSS3" class="dropdown-item">Prueba 3</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CSRF
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/CSRF1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/CSRF2" class="dropdown-item">Prueba 2</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container overflow-hidden" style="height:670px;">
      <div class="float-child" id="divEjercicio">
        <button id="btnPistas" type="button" class="btn btn-dark text-center m-2" data-bs-toggle="modal" data-bs-target="#modalPistas">
          Pistas
        </button>
        <p class="text-center m-2" style="font-size: 20px ; font-weight: bold">
          <b>Ejercicio</b>
        </p>
        <p class="text-center m-2">
          Usando un ataque de XSS Reflejado (Reflected), obten la clave recuperando el valor del elemento iEscondido oculto en esta página.
        </p>
        <p class="text-center m-2">
          <i> Recomendamos fuertemente leer la primera pista, pero no lo forzamos. Creemos que podria ahorrar tiempo sustancial en pruebas redundantes.</i> 
        <p class="text-center m-2">
          <b>Condicion adicional: No ver codigo fuente de la pagina para resolver este ejercicio.</b>
        </p>

        <div>
          <form id="fHola" action="javascript:void(0);" class="text-center p-2" method="post" style="position: relative; top: 15%">
            <label for="iHola" class="form-label text-success"><b>Hola! Siento que eres joven, cuantos años tienes?</b></label>
            <input type="text" class="form-control me-2 text-center" id="iHola" name="iHola" placeholder="Ingresa tu nombre aqui..." required>
            <br>
            <button id="bHola" type="button" class="btn btn-dark" onclick="displayShow()">Saludar</button>
          </form>
        </div>

        <p id="pHola" class="text-center m-2 text-success" style="font-weight: bold;"></p>


        <!-- Modal de las Pistas -->
        <div class="modal fade" id="modalPistas" tabindex="-1" role="dialog" aria-labelledby="modalPistasLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalPistasLabel">Pistas</h5>
              </div>
              <div class="modal-body">
                <p class="text-center m-2">
                  Resalta con tu cursor la fila de la pista que deseas ver, las pistas estan ordenadas por impacto de menor a mayor (arriba a abajo correspondientemente) para obtener la respuesta. Cuidado a los que desean usar la menor cantidad de pistas posibles que estas tambien estan disponibles sin ocultar dentro del Modal en el codigo fuente de la pagina.
                </p>
                <p class="text-center m-2 bg-dark">
                  Pista 1: HTML5 no permite que ingrese en ninguna manera el tag de &lt;script&gt; al documento, así que cualquier idea que tenías de usar ese tag de elemento, puedes probar lo mismo pero sin &lt;script&gt; ni &lt;/script&gt;.
                </p>
                <p class="text-center m-2 bg-dark">
                  Pista 2: alert() es una funcion de JavaScript que hace un popup en la pagina de lo que viene dentro del parentesis.
                </p>
                <p class="text-center m-2 bg-dark">
                  Pista 3: Recomendamos investigar como obtener el valor de un elemento en base a su atributo de id.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-block float-child overflow-hidden" id="divRespuesta">
        <form id="fRespuesta" action="XSS1" class="text-center p-2" method="post" style="position: relative; top: 15%">
          <label for="iRespuesta" class="form-label"><b>Respuesta</b></label>
          <input type="text" class="form-control me-2 text-center" id="iRespuesta" name="iRespuesta" placeholder="Ingresa la clave...">
          <label class="control-label text-danger" for="iRespuesta">{% for error in get_flashed_messages(category_filter=["error"])%}{{error}}{% endfor %}</label>
          <br><br>
          <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
        <p class="text-center" style="margin: 20px; position: relative; top:10%">{% for ayuda in get_flashed_messages(category_filter=["ayuda"])%}{{ayuda}}{% endfor %}<p>

      </div>
      <div class="float-child overflow-hidden" id="divRecompensa">
        <p class="text-center m-2">
          <b>Recompensa</b>
        </p>
        <input id="iEscondido" value="la clave es 871c14878fa75bc327ba87d2d284d596" hidden>
        <p class="text-center">
          <img class="d-inline m-4 align-top" src="{{ url_for('static', filename=chest) }}" width="50%" height="50%">
        </p>
        {% for recompensa in get_flashed_messages(category_filter=["recompensa"])%}
        <p class="text-center text-success" style="margin: 10px">
          <b>{{recompensa}}</b>
          
          <!-- Modal del Contexto -->
          <div class="modal fade" id="modalContexto" tabindex="-1" role="dialog" aria-labelledby="modalContextoLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalContextoLabel">Detalle del Contexto</h5>
                </div>
                <div class="modal-body">
                  <p class="text-center m-2">
                    Redactar el contexto de este ejercicio fue muy dificil, puesto que tuvimos que evolucionarlo y deevolucionarlo en algunos aspectos para acomodarse a la situacion con HTML5. En el pasado, como se puede ver con herramientas como DVWA, un ejemplo estandar seria mandar un &lt;script&gt; con un alert para mandar un mensaje arbitrario en la forma de un popup. Sin embargo, en HTML5, los tags de &lt;script&gt; se obvian automaticamente como protocolo de seguridad, osea que en implementaciones modernas esta vulnerabilidad clasica no es aplicable. 
                  </p>
                  <p class="text-center m-2">
                    Como se habran dado cuenta, a menos que hayan usado un metodo alternativo al clasico, y habiendo leido la primera pista, habilitamos este ejercicio para simular el comportamiento del clasico, obligando a que se evalue lo que el usuario ingresa (motivo por el cual escogimos un input numerico), y razon por la cual la primera pista dice que simplemente se obvie el script, porque cubrimos esa necesidad por nuestro lado. Nuestro ejemplo en consecuencia es: <b>alert(document.getElementById("iEscondido").value)</b>
                  </p>
                  <p class="text-center m-2">
                    Estamos seguros que no hace falta indicar que este no es comportamiento tipico para la vulnerabilidad, y en la mayoria de los contextos, ahora deberia ser una vulnerabilidad del pasado, pero puede afectar navegadores sin debida proteccion o en versiones mas antiguas.
                  </p>
                  <p class="text-center m-2">
                    <b>Con todo lo anterior como consideracion, la mejor medida primero seria simplemente no tratar de buscar deshabilitar la seguridad intrinseca con la que HTML5 ya cuenta por defecto. Adicionalmente, si realmente hiciera falta, recordamos como mencionamos en fugas de informacion que no hay buen motivo para incluir javascript con informacion sensible dentro del HTML. Finalmente, como ultima capa seria asegurar que la respuesta que se prepara con el input, estuviera completamente escapada y se comportara por completo como una cadena de caracteres, para evitar introducir funcionalidad inesperada.</b>
                  </p>
                  <p class="text-center m-2 text-success">
                    <b>Suerte en los demas ejercicios, y no olvides anotar tu pieza :)</b>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </p>
        <div style="display:flex; justify-content: center;">
          <button id="btnContexto" type="button" class="btn btn-success text-center m-2" data-bs-toggle="modal" data-bs-target="#modalContexto">
            Detalle
          </button>
        </div>
          {% endfor %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
      function displayShow() { 
         var element = document.getElementById("pHola");
         element.innerHTML = eval(document.getElementById("iHola").value)
         element.append("? Lo sabia, si que eres joven! :D")
      }   
    </script>
  </body>
</html>