<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XSS 3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body style="height:745px">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
      <a href="#" class="navbar-brand mb-0 h1">
        <img class="d-inline m-2 align-top" src="https://aula.campusciberseguridad.com/pluginfile.php?file=%2F1%2Ftheme_moove%2Flogo%2F1671714533%2Fciberseguridad%20vertical%20bicolor%281%29.png" width="30" height="30">
      </a>
      <button type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacion" class="navbar-toggler m-2" aria-controls="barraNavegacion" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="barraNavegacion">
        <ul class="navbar-nav">
          <li class="nav-item active m-2">
            <a href="/" class="nav-link active">
              Home
            </a>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fugas de Información
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/fugas1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/fugas2" class="dropdown-item">Prueba 2</a></li>
                <li><a href="/fugas3" class="dropdown-item">Prueba 3</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SQLi
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/SQLi1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/SQLi2" class="dropdown-item">Prueba 2</a></li>
                <li><a href="/SQLi3" class="dropdown-item">Prueba 3</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              XSS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/XSS1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/XSS2" class="dropdown-item">Prueba 2</a></li>
                <li><a href="/XSS3" class="dropdown-item">Prueba 3</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CSRF
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="/CSRF1" class="dropdown-item">Prueba 1</a></li>
                <li><a href="/CSRF2" class="dropdown-item">Prueba 2</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container overflow-hidden" style="height:670px;">
      <div class="float-child" id="divEjercicio">
        <button id="btnPistas" type="button" class="btn btn-dark text-center m-2" data-bs-toggle="modal" data-bs-target="#modalPistas">
          Pistas
        </button>
        <p class="text-center m-2" style="font-size: 20px ; font-weight: bold">
          <b>Ejercicio</b>
        </p>
        <p class="text-center m-2">
          Usando un ataque de XSS Reflejado (Reflected), obten la clave recuperando el valor del elemento iEscondido oculto en esta página.
        </p>
        <p class="text-center m-2">
          Consejos: No te olvides del inspector de elementos y la habilidad de modificar valores en el HTML; recuerda que hay multiples maneras de declarar scripts de JavaScript dentro de HTML.
        </p>
        <p class="text-center m-2">
          <b>Condicion adicional: No ver codigo fuente de la pagina para <u>obtener la clave</u> (todo lo demas es justo).</b>
        </p> 

        <div>
          <form id="fHola" action="XSS3" class="text-center p-2" method="post" style="position: relative; top: 15%">
            <label for="iHola" class="form-label text-success"><b>Para que pagina deseas generar el enlace:</b></label>
            <select name="iHola" id="iHola" form="fHola" class="form-select form-select-md me-2 text-center" required>
              <option value="/XSS1">XSS1</option>
              <option value="/XSS2">XSS2</option>
              <option value="/XSS3">XSS3</option>
            </select>
            <br>
            <button type="submit" class="btn btn-dark">Enviar</button>
          </form>
        </div>
        
        {% for hola in get_flashed_messages(category_filter=["hola"])%}
          <p class="text-center m-2 text-success" >
            <a href="{{hola|safe}}">Tu enlace nuevo</a>
          </p>
        {% endfor %}
        

        <!-- Modal de las Pistas -->
        <div class="modal fade" id="modalPistas" tabindex="-1" role="dialog" aria-labelledby="modalPistasLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalPistasLabel">Pistas</h5>
              </div>
              <div class="modal-body">
                <p class="text-center m-2">
                  Resalta con tu cursor la fila de la pista que deseas ver, las pistas estan ordenadas por impacto de menor a mayor (arriba a abajo correspondientemente) para obtener la respuesta. Cuidado a los que desean usar la menor cantidad de pistas posibles que estas tambien estan disponibles sin ocultar dentro del Modal en el codigo fuente de la pagina.
                </p>
                <p class="text-center m-2 bg-dark">
                  Pista 1: Alguna vez has escuchado de JavaScript URI? Talvez sea hora de averiguar :)
                </p>
                <p class="text-center m-2 bg-dark">
                  Pista 2: El atributo href es compatible con Javascript URI...
                </p>
                <p class="text-center m-2 bg-dark">
                  Pista 3: Por si no lo has tratado ya, recuerda que puedes cambiar el contenido del html usando el inspector de elementos de tu navegador.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-block float-child overflow-hidden" id="divRespuesta">
        <form id="fRespuesta" action="XSS3" class="text-center p-2" method="post" style="position: relative; top: 15%">
          <label for="iRespuesta" class="form-label"><b>Respuesta</b></label>
          <input type="text" class="form-control me-2 text-center" id="iRespuesta" name="iRespuesta" placeholder="Ingresa la clave...">
          <label class="control-label text-danger" for="iRespuesta">{% for error in get_flashed_messages(category_filter=["error"])%}{{error}}{% endfor %}</label>
          <br><br>
          <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
        <p class="text-center" style="margin: 20px; position: relative; top:10%">{% for ayuda in get_flashed_messages(category_filter=["ayuda"])%}{{ayuda}}{% endfor %}<p>
        <input id="iEscondido" value="la clave es 5fcfcb7df376059d0075cb892b2cc37f" hidden>
      </div>
      <div class="float-child overflow-hidden" id="divRecompensa">
        <p class="text-center m-2">
          <b>Recompensa</b>
        </p>
        <p class="text-center">
          <img class="d-inline m-4 align-top" src="{{ url_for('static', filename=chest) }}" width="50%" height="50%">
        </p>
        {% for recompensa in get_flashed_messages(category_filter=["recompensa"])%}
        <p class="text-center text-success" style="margin: 10px">
          <b>{{recompensa}}</b>
          <!-- Modal del Contexto -->
          <div class="modal fade" id="modalContexto" tabindex="-1" role="dialog" aria-labelledby="modalContextoLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalContextoLabel">Detalle del Contexto</h5>
                </div>
                <div class="modal-body">
                  <p class="text-center m-2">
                    Una segunda vulnerabilidad intrinseca de Jinja2 con respecto a manejo de XSS, es que los elementos de &lt;a&gt; tienen un atributo href que es compatible con la estructura de JavaScript URI. Eso quiere decir, que en instancias donde se puede agregar un elemento &lt;a&gt;, con un script como el siguiente que es nuestro ejemplo para resolver esta ejercicio, <b>javascript:alert(document.getElementById('iEscondido').value);</b>, o en este caso donde explicitamente estamos rellenando el atributo href de un elemento &lt;a&gt; con el value del elemento seleccionado (que se puede cambiar con el inspector), se puede forzar comportamiento arbitrario.
                  </p>
                  <p class="text-center m-2">
                    Mas que en otros ejercicios, aqui enfatizamos sustancialmente que este no es un ejemplo realista, ya que no va a ser tipico en casi ninguna circunstancia que se pida rellenar el href de un elemento &lt;a&gt;, pero al mismo tiempo no queriamos que el ejercicio fuera obligado a indicar que se tendria que insertar un elemento &lt;a&gt; con el elemento href usando URI de JavaScript (aunque la segunda mitad si tuvo que incluirse como minimo en las pistas).
                  </p>
                  <p class="text-center m-2">
                    <b>El ejemplo mas tipico de ataque usando este acercamiento seria que el atacante redactara el elemento completo, junto con el atributo href, y lo ingresara en un input mas como el del ejercicio XSS2. La medida adecuada para manejar esta situacion en el estado de nuestro ejercicio, seria no crear un campo que modifica un atributo especifico (href) de un elemento &lt;a&gt;. En el caso comun, la mejor medida que tomar seria asegurar que la respuesta que se prepara con el input, estuviera completamente escapada y se comportara por completo como una cadena de caracteres, para evitar introducir funcionalidad inesperada.
                  </p>
                  <p class="text-center m-2 text-success">
                    <b>Suerte en los demas ejercicios, y no olvides anotar tu pieza :)</b>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </p>
        <div style="display:flex; justify-content: center;">
          <button id="btnContexto" type="button" class="btn btn-success text-center m-2" data-bs-toggle="modal" data-bs-target="#modalContexto">
            Detalle
          </button>
        </div>
          {% endfor %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>